.tokenomicsSection {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 20px;
}

.tokenomicsSection h2 {
  color: #003366;
  font-weight: 500;
  font-size: 36px;
  line-height: 40px;
}

.chart {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.chartWrapper {
  max-width: 400px;
}