.pledgersSection {
  text-align: start;
  color: #003366;
}

.pledgersSection h2 {
  color: #003366;
  font-size: 36px;
  line-height: 40px;
  font-weight: 500;
}

.pledgersSection a {
  color: #003366;
  text-decoration: none;
  font-size: 24px;
  line-height: 28.8px;
  font-weight: 500;
}

.chart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
